<!-- main app container -->
<div class="card m-3">
    <h5 class="card-header">New Employee Sign Up Form</h5>
    <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-row">                
                <div class="form-group col-5">
                    <label>Name</label>
                    <input type="text" id="Name" formControlName="Name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Name.errors }" />
                    <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
                        <div *ngIf="f.Name.errors.required">Name is required</div>
                    </div>
                </div>
                <div class="form-group col-5">
                    <label>Employee Code</label>
                    <input type="number" id="employeeCode" formControlName="employeeCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.employeeCode.errors }" />
                    <div *ngIf="submitted && f.employeeCode.errors" class="invalid-feedback">
                        <div *ngIf="f.employeeCode.errors.required">Employee Code is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" id="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Password</label>
                    <input type="password" id="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
               </div>            
            <div class="text-center">
                <button id="Register" class="btn btn-primary mr-1">Register</button>
                <button id="Reset" class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
            </div>
        </form>
    </div>
</div>

