<div>
    <img id="image1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtNnvqbpovTyWffRbRexTk_t7K2vnUUcuMeg&s" width="500px" height="300px"/>

    <br/><br/>      

  </div>  

  <div style="margin-left: 50px; margin-top: 100px;">
   <span style="margin-right: 100px;"> <a routerLink="/login" class="btn btn-success">Login</a></span>
    <span style="margin-right: 100px;"> <a routerLink="/signup" class="btn btn-info">Register</a></span>
    <span style="margin-right: 100px;"> <a routerLink="/update" class="btn btn-warning">Update</a></span>

  </div>

  <router-outlet></router-outlet>